input.ng-invalid.ng-touched{
    border: 1px solid red;
}

/* body{
    background-color:  whitesmoke;
    height: 100vh;
    margin-top: 0%;
    display: grid;
    place-items: center;
} */

.login-page{
    margin-top: 0%;
    display: grid;
    place-items: center;
}

.wrapper{
    box-sizing: content-box;
    background-color:   white;
    height: 400px;
    width: 500px;
    padding: 50px 30px;
    display: flex;
    /* border-radius: 8px; */
    box-shadow: 0 20px 25px rgba(0,0,0,0.2);
}

.form-control {
    /* display: block; */
    width: 450%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.help-block{
    width: 450%;
}

.alert.alert-danger{
    width: 450%;
}

.inputField:focus {
    background-color: #fff;
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.inputField:hover {
    background-color: #ededed;
    transition-duration: .1s;
}
