/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav>li>a:focus, .nav>li>a:hover {
    
    text-decoration: underline;
    background-color: white !important;
    color: #e20074 !important;
    /* border-radius: 1px white dotted; */
}

.navbar{
    border-radius: 0px;
}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 23px;
        padding-bottom: 15px;
    }
}
