<div class="forgotpassword-page">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h2 style="margin-left: 50px; width: 450%;">Update Password</h2>
        <br>
        <form #formdata="ngForm" (ngSubmit)="onSubmit(formdata)">
          <div class="alert alert-danger" *ngIf="error" style="width: 200% ;">
            {{error}}
          </div>
          <div class="form-group">
            <label for="username">Email</label>
            <input type="text" id="username" class="form-control inputField" ngModel required name="username"
              #username="ngModel" placeholder="Username" />
            <span class="help-block" *ngIf="!username.valid && username.touched">Please enter the Username !</span>
          </div>
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" id="password" class="form-control inputField" ngModel required minlength="5"
              name="password" #password="ngModel" placeholder="Password" />
            <span class="help-block" *ngIf="!password.valid && password.touched">Please enter the new Password !</span>
          </div>
          <br>
          <div>
            <button class="btn btn-primary" [disabled]="!formdata.valid" type="submit">Submit</button>
          </div>
          <br>
          <div style="width:200%">
            <span class="alert alert-success" *ngIf="success">Your password is updated !</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>